################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj/Debug/net8.0/Lucky.WebAPI.sourcelink.json
/bin/Debug/net8.0/logs/2024-07-16_logfile.txt
